@font-face {
  font-family: "AMC";
  src: url("./AMC.ttf") format("truetype");
}

body {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

#what {
  z-index: -1;
  position: absolute;
  top: -50px;
  left: -50px;
  min-width: 1000px;
  min-height: 500px;
  width: 120vw;
  height: 60vw;
}

#canvas {
  height: 100px;
}

.title {
  transition: 10s;
  position: absolute;
  top: -15px;
  left: 260px;
  width: 65%;
  min-width: 500px;
  text-align: center;
  font-family: 'AMC', sans-serif;
  font-size: 80px;
  color: blue;
}

#sidebar {
  z-index: 10;
  width: 260px;
  margin: 10px;
  margin-top: 46px;
}

.instructions {
  font-family: 'AMC', sans-serif;
  padding: 10px;
  background: yellow;
  border: 3px solid red;
  border-radius: 10px;
}

.instructions span.section {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.instructions p {
  margin: 0px;
  font-family: 'AMC', sans-serif;
  font-size: 18px;
}

.button {
  transition: 200ms;
  margin: 5px 3px 5px 0px;
  font-family: 'AMC', sans-serif;
  text-align: center;
  padding: 5px;
  border: 3px solid red;
  border-radius: 8px;
  font-size: 20px;
  background: yellow;
}

.button:hover {
  background: green;
  cursor: pointer;
}

.timer {
  margin-top: 20px;
  text-align: center;
  font-family: 'AMC', sans-serif;
  transition: 500ms;
  color: white;
  font-size: 64px;
}

.solve-moves {
  margin-top: 20px;
  word-break: break-all;
  font-family: 'AMC', sans-serif;
  font-size: 30px;
  color: white;
}
