.title {
  position: absolute;
  color: white;
  margin: 30px;
  font-size: 80px;
  left: 33%;
  top: 50px;
}

.solve {
  position: absolute;
  color: white;
  margin: 30px;
  font-size: 50px;
  right: 150px;
  top: 50px;
}

.solve-moves {
  right: 0px;
}

h2 {
  position: absolute;
  color: white;
  margin: 30px;
  font-size: 64px;
  top: 400px;
  right: 350px;
}

h2.timer {
  text-align: left;
}

.instructions {
  position: absolute;
  top: 30px;
  left: 30px;
  background: white;
  width: 300px;
  height: 500px;
  border: 5px solid red;
  border-radius: 10px;
}

.instructions h1 {
  margin-left: 20px;
}

.instructions p {
  font-size: 20px;
  margin-left: 20px;
}
