@font-face {
  font-family: "AMC";
  src: url("./AMC.ttf") format("truetype");
}

.title {
  font-family: 'AMC', sans-serif;
  opacity: 1;
  transition: 5s;
  position: absolute;
  color: white;
  margin: 30px;
  font-size: 80px;
  left: 33%;
  top: 50px;
  color: blue;
}

.solve {
  font-family: 'AMC', sans-serif;
  opacity: 1;
  transition: 1s;
  position: absolute;
  color: black;
  padding: 10px;
  border: 5px solid red;
  border-radius: 10px;
  margin: 30px;
  font-size: 30px;
  left: 60px;
  top: 520px;
  background: green;
  max-width: 263px;
}

.solve:hover {
  transition: 1s;
  background: yellow;
  cursor: pointer;
}

.solve-moves {
  font-family: 'AMC', sans-serif;
  left: 640px;
  font-size: 30px;
  color: white;
  top: 750px;
}

h2 {
  font-family: 'AMC', sans-serif;
  opacity: 1;
  transition: 1s;
  position: absolute;
  color: white;
  margin: 30px;
  font-size: 64px;
  top: 400px;
  right: 350px;
}

.timer {
  font-family: 'AMC', sans-serif;
  opacity: 1;
  transition: 1s;
  text-align: left;
}

.instructions {
  font-family: 'AMC', sans-serif;
  opacity: 1;
  transition: 1s;
  position: absolute;
  top: 30px;
  left: 90px;
  background: white;
  width: 320px;
  height: 500px;
  border: 5px solid red;
  border-radius: 10px;
}

.instructions h1 {
  font-family: 'AMC', sans-serif;
  margin-left: 20px;
}

.instructions p {
  font-family: 'AMC', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

.begin {
  opacity: 0;
}

.sample {
  transition: 1s;
  position: absolute;
  top: 660px;
  left: 90px;
  background: white;
  border: 5px solid red;
  border-radius: 10px;
  font-family: 'AMC', sans-serif;
  font-weight: bold;
  font-size: 30px;
  max-width: 300px;
  padding: 10px;
  background: green;
}

.sample:hover {
  transition: 1s;
  cursor: pointer;
  background: yellow;
}
