html, body {
  height: 100%;
}

body {
  position: relative;
  margin: 0px;
  font-family: 'AMC', sans-serif;
}

#expand {
  z-index: 10;
  position: relative;
  width: 100px;
  text-align: center;
  padding: 10px;
  background: lightgreen;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}

#sidebar {
  position: absolute;
  width: 300px;
  height: 500px;
  overflow: hidden;
  background: blue;
}

#canvas {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
}

.select {
  opacity: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  background: #c3c3c3;
  margin: auto;
  text-align: center;

  .cube-size {
    padding: 10px;
    margin: 7px auto;
    font-size: 3.5vh;
    list-style-type: none;
  }

  .cube-size span:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 3px;
  }

  .cube-size span {
    padding: 7px;
  }
}

// .title {
//   color: blue;
//   transition: color 10s;
//   font-family: 'AMC', sans-serif;
//   font-size: 6vh;
// }
//
// #sidebar {
//   position: absolute;
//   z-index: 10;
//   width: 38vh;
//   margin: 30px;
//   font-size: 2vh;
// }
//
// .instructions {
//   margin-bottom: 20px;
//   padding: 10px;
//   font-family: 'AMC', sans-serif;
//   background: yellow;
//   border: 3px solid red;
//   border-radius: 10px;
//
//   .section {
//     margin-top: 10px;
//     font-weight: bold;
//     font-size: 2.5vh;
//   }
//
//   p {
//     margin: 5px;
//     font-family: 'AMC', sans-serif;
//   }
//
//   .display-solve {
//     display: none;
//   }
// }
//
//
// .left {
//   float: left;
//   margin-right: 4px;
//   min-width: 30px;
// }
//
// .button {
//   transition: 200ms;
//   margin: 5px 3px 5px 0px;
//   font-family: 'AMC', sans-serif;
//   font-size: 2vh;
//   text-align: center;
//   width: 94%;
//   padding: 5px;
//   border: 3px solid red;
//   border-radius: 8px;
//   background: yellow;
//
//   &.disabled {
//     background: #ADADAD;
//     border-color: #6D6D6D;
//   }
//
//   &.enabled:hover {
//     width: 110%;
//     cursor: pointer;
//     background: green;
//   }
//
//   &.enabled:active {
//     background: red;
//   }
// }
//
//
// .sample.button {
//   display: none;
// }
//
// .timer {
//   text-align: center;
//   font-family: 'AMC', sans-serif;
//   transition: 500ms;
//   color: white;
//   font-size: 8vh;
// }
